public-hoist-pattern[]=*husky*
public-hoist-pattern[]=*cross-env*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*core-js*
public-hoist-pattern[]=*lint-staged*
public-hoist-pattern[]=*@commitlint*
public-hoist-pattern[]=*@types*
public-hoist-pattern[]=*@typescript*
public-hoist-pattern[]=*rc-*
